<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="single_leg_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="front_right_hip_joint">
        <command_interface name="position">
          <param name="min">${hip_lower_limit}</param>
          <param name="max">${hip_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="front_right_knee_joint">
        <command_interface name="position">
          <param name="min">${knee_lower_limit}</param>
          <param name="max">${knee_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
